html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  margin: 0px auto;
}

.slick-list {
  padding-bottom: 20px !important;
  overflow-x: hidden !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  margin: 0 5px;
}
